body {
  font-family: 'Gajraj One', cursive;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}


.zachclass {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid #88898C;
  padding-top: 50px;
}


.description {
  white-space: pre-wrap;
}

.time-lord {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #a6b8c7;
  color: white;
}


.present {
  background-color: #003B6F;
  color: white;
}

.future {
  background-color: #6f8ea9;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #00203c;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 1.0s ease-in-out;
}
